DATABASE_URL=postgresql://postgres:password@localhost:5432/later
GITHUB_CLIENT_ID=Ov23li3B1OtUNeBeFxCp
GITHUB_CLIENT_SECRET=bf4ab2887d7469133deda6c3bedf82e0db5315e7
GITHUB_REDIRECT_URL=http://127.0.0.1:80/auth/authorized
